.Class {
    text-align: center;
    margin: 20px;
}
  
.search-bar {
    margin-bottom: 20px;
    max-width: 75%;
}
  
.profile-container {
    /* display: flex; */
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 75%;
    border-style: solid;
}

.col-md-2 {
    width: 10.5%; /* Adjust the width as needed */
    margin-right: 50px;
    margin-left: 50px;
    box-sizing: border-box;
    
}

.class-header{
  text-align: center;
}

.professor-container{
  justify-self: center;
  margin: auto;
  width: 75%;
}

  
  
  
  
  
  