body {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* border: 5px red solid; */
}

/* cards */

.actionCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 5px red solid; */

}



/* header */
nav {
    width: 100%;
    
}

/* footer */

/* footer */
/* footer */
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #333;
    /* Adjust the text color as needed */
    padding: 10px;
}



.card-link {
    /* Inherit the text color from the parent card */
    cursor: pointer;
}

.form-control.home-search-box{
    max-width: 70%;
}

.btn.home-search-button{
    max-width: 27%;

}

.home-search-container{
    padding-bottom: 15px;
}

.home-subtitle-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-subtitle{
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.list-container{
    background-color: rgba(155, 167, 175, 1);
    overflow-y: auto;
    max-height: 150px;
}

.fixed-box {
    height: 175px;
    overflow-y: auto;
    background-color: rgba(155, 167, 175, 1);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc; /* Add a border for better visual appearance */
    
  }

.list-group{
    justify-content: center;
}

.home-purpose {
    background-color: rgba(217, 217, 217, 1);
    padding: 10px; /* Add padding for better visual appearance */
    border-radius: 5px; /* Add border radius for rounded corners */
}


/* LoginPage.css */
.container {
    height: 100vh;
}

.card {
    width: 100%;
}