body {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: 5px red solid;
}

/* cards */

.actionCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 5px red solid;

}



/* header */
nav {
    width: 100%;
    
}

/* footer */

/* footer */
/* footer */
.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #333;
    /* Adjust the text color as needed */
    padding: 10px;
}